<<<<<<< HEAD
@font-face {
    font-family: "Montserrat";
    src: url(fronts/Montserrat-BlackItalic.ttf);
    
=======
@font-face {
    font-family: "Montserrat";
    src: url(fronts/Montserrat-BlackItalic.ttf);
    
>>>>>>> 979773130079cd5cae0ef1b3de9b86414697a25d
}